body {
  background-color: rgb(255, 216, 212);
  background-image: url(christmasdecor.png);
  color: rgb(30, 9, 76);
  animation-name: bgmove;
  animation-duration: 5sec;
  animation-iteration-count: infinite;
}

@keyframes bgmove {
  50%{background-position: 32, 96px;}
}

.regular {
  background-color: rgb(255, 216, 212);
  padding: 16px 32px 16px 32px;
  margin: 24px 32px 24px 32px;
  border: 6px black solid;
}
